<div>
 <% if user_signed_in? %>
 <div class = 'new-impression'>
  <h3>思いの丈をぶちまけよう！</h3>
   <div class="field">
   <%= form_with model:@new_impression, url: impressions_path ,local: true do |f| %>
    <%= f.label :感想 %></br>
    <%= f.text_field :body %>
    <%= f.hidden_field :user_id, value: current_user.id %>
   </div>
   <div class="field">
    <%= f.label :タグ %><a>(複数タグをつける際はタグの間を全角スペースで区切ってください。)</a></br>
    <%= f.text_field :name %>
　 </div>
　 <div class="actions">
　  <%= f.submit "投稿" %>
　 </div>
   <% end %>
 </div>
 <% else %>
 <% end %>
 <div class = 'impression-body'>
  <div>
    <% if user_signed_in? %>
     <h3>検索窓</h3>
     <div>
      <%= form_with url: search_path, local: true, method: :get do |f| %>
        <%= f.text_field :word %>
        <%= f.select :range, options_for_select([['User'],  ['Content'],  ['Impression']]) %>
        <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["部分一致","partial_match"]]) %>
        <%= f.submit "検索" %>
      <% end %>
     </div>
<% end %>
  </div>
  <div>
   <div class = 'impression-list'>

    <% @impressions.each do |impression| %>
     <% if user_signed_in? %>
     <div>
      <%= link_to impression.user.name, user_path(impression.user_id) %></br>
      <%= link_to impression.body, impression_path(impression) %></br>
      <% impression.contents.each do |content| %>
       <%= link_to content.name, search_content_path(content_id: content.id) %>
      <% end %></br>
       <div id="favorite_buttons_<%= impression.id %>">
        <%= render "favorites/favorite",impression: impression %>
       </div>
      </div>
      <div>
       <%= link_to 'コメント一覧へ',impression_path(impression) %><a>(<%= impression.post_impressions.count %>)</a>
       <% if current_user.id == impression.user_id %>
        <%= link_to '削除', impression_path(impression),method: :delete, data: { confirm: '本当にいいですか?' } %>
       <% end %>
     </div>
     <% else %>
     <div>
      <%= link_to impression.user.name, user_path(impression.user_id) %></br>
      <%= link_to impression.body, impression_path(impression) %></br>
      <% impression.contents.each do |content| %>
       <%= link_to content.name, search_content_path(content_id: content.id) %>
      <% end %></br>
     </div>

     <% end %>
     </div>


    <% end %>


   </div>
  </div>

 </div>
</div>
