<div>
 <% if user_signed_in? %>
 <div class = 'new-impression'>
  <h3>思いの丈をぶちまけよう！</h3>
   <div class="field">
   <%= form_with model:@new_impression, url: impressions_path ,local: true do |f| %>
    <%= f.label :感想 %></br>
    <%= f.text_field :body %>
    <%= f.hidden_field :user_id, value: current_user.id %>
   </div>
   <div class="field">
    <%= f.label :タグ %><a>(複数タグをつける際はタグの間をスペースで区切ってください。)</a></br>
    <%= f.text_field :tag_list, value: @new_impression.tag_list %>
　 </div>
　 <div class="actions">
　  <%= f.submit "投稿" %>
　 </div>
   <% end %>
 </div>
 <% else %>
 <% end %>
 <div class = 'impression-body'>
  <div>
    <h3>検索窓</h3>
    <% if user_signed_in? %>
     <div>
      <%= form_with url: search_path, local: true, method: :get do |f| %>
        <%= f.text_field :word %>
        <%= f.select :range, options_for_select([['User'], ['Impression']]) %>
        <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["部分一致","partial_match"]]) %>
        <%= f.submit "検索" %>
      <% end %>
     </div>
<% end %>
  </div>
  <div>
   <div class = 'impression-list'>

    <% @impressions.each do |impression| %>
      <%= render 'impression', impression: impression %>
      <% impression.tags.each do |tag| %>
       <%= link_to "#{tag.name}", tags_path(tag.name) %>
      <% end %>
    <% end %>


   </div>
  </div>

 </div>
</div>