<div>
   <%= link_to @impression.user.name, user_path(@impression.user_id) %>
  <div>
    <%= @impression.body %>
  </div>
  <div>
    <% @impression.contents.each do |content| %>
     <%= link_to content.name, search_content_path(content_id: content.id) %>
    <% end %>
  </div>
  <div>
    <div>
      <%= form_with(model:[@impression, @post_impression], local: true) do |f| %>
     <div class="field">
      <%= f.label :返信 %></br>
      <%= f.text_field :body %>
　   </div>
　    <%= f.submit "コメントする" %>
      <% end %>
    </div>
    <% @impression.post_impressions.each do |post_impression| %>
    <div>
     <%= post_impression.body %>
    </div>
    <% end %>
  </div>
</div>