<div class = 'body'>
 <% if user_signed_in? %>
 <div class = 'new-impression'>
  <h5>思いの丈をぶちまけよう！</h5>
   <div class="impression-field">
    <%= form_with model:@new_impression, url: impressions_path ,local: true do |f| %>
     <h3>感想</h3>
      <%= f.text_field :body %>
      <%= f.hidden_field :user_id, value: current_user.id %>

   <div class="tag-field">
    <h3>タグ</h3><h5>(複数タグをつける際はタグの間を全角スペースで区切ってください)</h5>
     <%= f.text_field :name %>
　   <%= f.submit "投稿" %>
　 </div>

    <% end %>
  </div>
  <div class = "seach">
      <h3>検索窓</h3>
      <%= form_with url: search_path, local: true, method: :get do |f| %>
        <%= f.text_field :word %></br>
        <%= f.select :range, options_for_select([['ユーザー','User'],  ['タグ','Content'],  ['投稿','Impression']]) %></br>
        <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["部分一致","partial_match"]]) %>
        <%= f.submit "検索" %>
      <% end %>
   </div>
   <div class = "tag-list">
    <h3>タグ一覧</h3>
     <% @content.each do |content| %>
      <%= link_to content.name, search_content_path(content_id: content.id) %>
      <%="(#{content.impressions.count})" %></br>
     <% end %>
   </div>
 </div>
 <% else %>
 <div class = 'new-impression'>
  <div class = "seach">
      <h3>検索窓</h3>
      <%= form_with url: search_path, local: true, method: :get do |f| %>
        <%= f.text_field :word %></br>
        <%= f.select :range, options_for_select([['ユーザー','User'],  ['タグ','Content'],  ['投稿','Impression']]) %></br>
        <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["部分一致","partial_match"]]) %>
        <%= f.submit "検索" %>
      <% end %>
   </div>
   <div class = "tag-list">
    <h3>タグ一覧</h3>
     <% @content.each do |content| %>
      <%= link_to content.name, search_content_path(content_id: content.id) %>
      <%="(#{content.impressions.count})" %></br>
     <% end %>
   </div>
 </div>
 <% end %>
<div class = 'impression-body'>
 <% if user_signed_in? %>
  <div class = 'impression-list'>
     <div class = "impression-list-head">
      <div class ="impression-list-icon">
       <%= attachment_image_tag @impression.user, :image , fallback: "no-image.png", :size => '60x50' %>
      </div>
      <div class ="impression-list-body-name">
       <%= link_to @impression.user.name, user_path(@impression.user_id) %></br>
      </div>
      <div id="favorite_buttons_<%= @impression.id %>">
        <%= render "favorites/favorite",impression: @impression %>
      </div>
     </div>
     <div class ="impression-list-body">
      <%= link_to @impression.body, impression_path(@impression) %></br>
      <%= @impression.created_at.strftime('%Y/%m/%d') %></br>
      <% @impression.contents.each do |content| %>
       <%= link_to content.name, search_content_path(content_id: content.id) %>
      <% end %></br>

     </div>
     <div class = "impression-list-link">
       <% if current_user.id == @impression.user_id %>
        <%= link_to '削除', impression_path(@impression),method: :delete, data: { confirm: '本当にいいですか?' } %>
       <% end %>
     </div>
 </div>
 <% else %>
   <div class = 'impression-list'>
     <div class = "impression-list-head">
      <div class ="impression-list-icon">
       <%= attachment_image_tag @impression.user, :image , fallback: "no-image.png", :size => '60x50' %>
      </div>
      <div class ="impression-list-body-name">
       <%= link_to @impression.user.name, user_path(@impression.user_id) %></br>
      </div>
     </div>
     <div class ="impression-list-body">
      <%= link_to @impression.body, impression_path(@impression) %></br>
      <%= @impression.created_at.strftime('%Y/%m/%d') %></br>
      <% @impression.contents.each do |content| %>
       <%= link_to content.name, search_content_path(content_id: content.id) %>
      <% end %></br>

     </div>
   </div>


<% end %>

  <div class = 'impression-detail-res'>
   <% if user_signed_in? %>
    <div>
      <%= form_with(model:[@impression, @post_impression], local: true) do |f| %>
     <div class="field">
      <h3><%= f.label :返信 %></br></h3>
      <%= f.text_field :body %><%= f.submit "コメントする" %>
　   </div>

      <% end %>
    </div>
   <% else %>
   <% end %>
    <% @impression.post_impressions.each do |post_impression| %>
    <div>
     <%= link_to post_impression.user.name, user_path(post_impression.user_id) %></br>
     <%= post_impression.body %></br>
     <% if post_impression.user == current_user %>
     <%= link_to '削除', impression_post_impression_path(post_impression.impression,post_impression ),method: :delete, data: { confirm: '本当にいいですか?' } %>
     <% end %>
    </div>
    <% end %>
  </div>

   </div>
</div>
</div>
