<div>
<div>
 <div>
  <%= attachment_image_tag @user, :image , :size => '40x40' %>
 </div>
 <div>
  <%= @user.name %>
 </div>
 <div>
   <%= @user.introduction %>
 </div>
 <div>
   <% if @user.id == current_user.id %>
      <%= link_to "プロフィール編集", edit_user_path(current_user.id) %>
   <% else %>
   <% end %>
 </div>
</div>
<div>
<tbody>
<%= render 'follow', user: @user %>
</tbody>
</div>
<div>
 <h2>投稿一覧</h2>
  <% @impressions.each do |impression| %>
   <%= impression.user.name %></br>
   <%= impression.body %>
  <% end %>
</div>
<div>
  <% if current_user.id == @user.id  %>

  <h2>いいね一覧</h2>
   <% @favorites.each do |favorite| %>
    <% favorite.impressions.each do |impression| %>
    <div>

     <%= impression.body %>
    </div>
    <% end %>
   <% end %>
  <% else %>
  <% end %>
</div>
</div>