<div>
<div>
 <div>
  <%= attachment_image_tag @user, :image , :size => '40x40' %>
 </div>
 <div>
  <%= @user.name %>
 </div>
 <div>
   <%= @user.introduction %>
 </div>
 <div>
   <% if @user.id == current_user.id %>
      <%= link_to "プロフィール編集", edit_user_path(current_user.id) %>
   <% else %>
   <% end %>
 </div>
</div>
<div>
<tbody>
<%= render 'follow', user: @user %>
</tbody>
</div>
<div>
 <h2>投稿一覧</h2>
  <% @impressions.each do |impression| %>
   <%= impression.user.name %></br>
   <%= impression.body %>
   <% impression.contents.each do |content| %>
    <%= link_to content.name, search_content_path(content_id: content.id) %>
   <% end %></br>
  <% end %>
</div>
<div>
 <%= link_to 'いいね！一覧' ,user_favorites_path(user_id: @user) %></br>
 <%= link_to 'フォロー一覧' ,user_follow_list_path(user_id: @user) %>

</div>
</div>