<h2>Results index</h2>

<table>
  <% if @range == "User" %>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.name, user_path(user) %></td>
        </tr>
      <% end %>
    </tbody>
  <% elsif @range == "Impression" %>
    <tbody>
    <% @impressions.each do |impression| %>
       <div>
         <div>
        <%= link_to impression.user.name, user_path(impression.user_id) %>
        </div>
        <div>
        <%= link_to impression.body, impression_path(impression) %>
        </div>
       <div>
       <%= impression.contents.map(&:name).join('　') %>
       </div>

        <% if user_signed_in? && current_user.favd?(impression.id) %>
          <%= link_to 'いいね解除', destroy_favorite_path(impression), method: :DELETE %>
        <% else %>
          <%= link_to 'いいね', create_favorite_path(impression), method: :POST %>
        <% end %>
      </div>
      <div>
        <%= link_to 'コメント一覧へ',impression_path(impression) %><a>(<%= impression.post_impressions.count %>)</a>
       <% if current_user.id == impression.user_id %>
        <%= link_to '削除', impression_path(impression),method: :delete, data: { confirm: '本当にいいですか?' } %>
       <% end %>
     </div>

      <% end %>
    </tbody>
  <% elsif @range == "Content" %>
   <% @content.each do |content| %>
    <%= link_to content.name, search_content_path(content_id: content.id) %>
    <%="(#{content.impressions.count})" %>
   <% end %>
  <% end %>
</table>