<!DOCTYPE html>
<html>
  <head>
    <title>KyouYou</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
  <% if user_signed_in? %>
   <div class = "header">
     <div class = "header-logo">
       <a><%= link_to "kyou you-!",root_path %></a>
     </div>
     <div>
      <ul class = "header-nav-ber">
        <li class = "header-nav-ber-item"><%= link_to "マイページ", user_path(current_user) %></li>
        <li class = "header-nav-ber-item"><%= link_to "impression", root_path %></li>
        <li class = "header-nav-ber-item"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
      </ul>
     </div>
   </div>
  <% else %>
   <div class = 'header'>
     <div class = 'header-logo'>
       <a><%= link_to "kyou you-!",root_path %></a>
     </div>
     <div class = 'header-nav-ber'>
      <ul>
        <li class = "header-nav-ber-item"><%= link_to "ログイン", new_user_session_path %></li>
        <li class = "header-nav-ber-item"><%= link_to "impression", root_path %></li>
      </ul>
     </div>
   </div>
  <% end %>
  </header>
  <main>
    <%= yield %>
  </main>
  <footer>
   <div class= 'footer'>

   </div>
  </footer>
</html>